<div class="welcomePage">
  <h1>Marc's Madness</h1>
  <h1>
    <a href='/users/sign_up'>Sign Up</a>
    <span> </span>
    <a href='/users/sign_in'>Sign In</a>
  </h1>
  <h1>You have to play to win</h1>
</div>
