<div class="textBox">
  <h1>Marc's Madness</h1>
    <div class="row">
      <div class="small-6 columns">
        <h1>
          <a href='/users/sign_up'>Sign Up</a>
        </h1>
      </div>
      <div class="small-6 columns">
        <h1>
          <a href='/users/sign_in'>Sign In</a>
        </h1>
      </div>
    </div>
  <h1>You have to play to win</h1>
</div>
