input[type="radio"]{
  margin-right: 5px !important;
}

.teamBlock {
  background-color: #FFFFFF;
  margin: 5px 0px;
  padding: 2px 10px;
  border: 1px solid #000000;
  width: 275px;
  height: 25px;
}

.round1 {
  background-color: RebeccaPurple;
  margin: 25px 10px;
}

.round2 {
  background-color: CornFlowerBlue;
  margin: 90px 10px;
}

.round3 {
  background-color: DarkSeaGreen;
  margin: 200px 10px;
}

.round4 {
  background-color: DarkGreen;
  margin: 325px 10px;
}
