// .gameBlock {
//   margin: 25px 10px;
// }

.teamBlock {
  background-color: #FFFFFF;
  margin: 5px 0px;
  padding: 2px 10px;
  border: 1px solid #000000;
  width: 175px;
  height: 25px;
}

input[type="radio"]{
  margin-right: 5px !important;
}

.round1 {
  background-color: green;
  margin: 25px 10px;
}

.round2 {
  background-color: purple;
  margin: 75px 10px;
}
