input[type="radio"]{
  margin-right: 5px !important;
}

.bannerTitle {
  background-color: #FFF8DC;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 0%;
  border:  2px solid;
}

.bannerTitle h1 {
  font-family: 'Cinzel', serif;
}

.finalFour h4 {
  font-family: 'Cinzel', serif;
  text-align: center;
}

.teamBlock {
  background-color: #FFFFFF;
  margin: 5px 0px;
  padding: 2px 10px;
  border: 1px solid #000000;
  width: 80%;
  height: 25px;
}

.finalFour {
  background-color: SlateGrey;
  margin: 50px 0px;
  padding: 10px;
  width: 75%;
  border: solid #000000 5px;
}

.finalFour .teamBlock {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.finals {
  background-color: SlateGrey;
  margin: 200px 0px;
  padding: 50px 25px;
  width: 75%;
  border: solid #000000 5px;
}

.finals .teamBlock {
  width: 100%;
}

.round1 {
  margin: 25px 10px;
}

.round2 {
  margin: 90px 10px;
}

.round3 {
  margin: 200px 10px;
}

.round4 {
  margin: 325px 10px;
}

.round1 .south {
  background-color: #8B0000;  //DarkRed
}

.round2 .south {
  background-color: #CD5C5C;  //InidianRed
}

.round3 .south {
  background-color: #FA8072;  //Salmon
}

.round4 .south {
  background-color: #FFA07A;  //LightSalmon
}

.round1 .west {
  background-color: #006400;  //DarkGreen
}

.round2 .west {
  background-color: #228B22;  //ForestGreen
}

.round3 .west {
  background-color: #7CFC00;  //LawnGreen
}

.round4 .west {
  background-color: #98FB98;  //PaleGreen
}

.round1 .east {
  background-color: #191970;  //MidnightBlue
}

.round2 .east {
  background-color: #4682B4;  //SteelBlue
}

.round3 .east {
  background-color: #6495ED;  //CornflowerBlue
}

.round4 .east {
  background-color: #ADD8E6;  //LightBlue
}

.round1 .midwest {
  background-color: #8B4513;  //SaddleBrown
}

.round2 .midwest {
  background-color: #A0522D;  //Sienna
}

.round3 .midwest {
  background-color: #CD853F;  //Peru
}

.round4 .midwest {
  background-color: #DEB887;  //BurlyWood
}

.finalFour .south {
  background-color: #FFA07A;  //LightSalmon
  padding: 5px;
}

.finalFour .west {
  background-color: #98FB98;  //PaleGreen
  padding: 5px;
}

.finalFour .east {
  background-color: #ADD8E6;  //LightBlue
  padding: 5px;
}

.finalFour .midwest {
  background-color: #DEB887;  //BurlyWood
  padding: 5px;
}

.finals h5 {
  font-family: 'Cinzel', serif;
  color: #FFFFFF;
  text-align: center;
}

.gameNumber {
  margin-bottom: 0%;
  font-family: 'Cinzel', serif;
  padding-left: 10%;
  font-weight: 700;
}

.finalFour h6 {
  color: #FFFFFF;
}

.finals h6 {
  color: #FFFFFF;
}
