body {
  background-color: #CBCBCB;
}

.welcomePage {
  background-color: #FFFFFF;
  font-family: 'Cinzel', serif;
  border-radius: 40px;
  width:  50%;
  padding: 20px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  border: 10px solid #C3734B; //basketball orange
}

.welcomePage h1 {
  font-family: 'Cinzel', serif;
  text-align: center;
}
