body {
  background-color: #CBCBCB;
}

.fullWidth {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: initial;
}

.headSpace {
  margin: 25px 0px;
}

.textBox {
  background-color: #FFFFFF;
  font-family: 'Cinzel', serif;
  border-radius: 40px;
  width:  50%;
  padding: 20px;
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 10%;
  border: 10px solid #C3734B; //basketball orange
}

.welcomeBox {
  margin-top: 2%;
}

.columnBox {
  width: 90%;
  margin-top: 2%;
  margin-left: 5%;
  margin-right: 5%;
}

.welcomeBox h2 {
  font-family: 'Cinzel', serif;
  text-align: center;
}

.textBox h1 {
  font-family: 'Cinzel', serif;
  text-align: center;
}

.textBox h2 {
  font-family: 'Cinzel', serif;
  text-align: center;
}

.textBox h3 {
  font-family: 'Cinzel', serif;
}

.textBox h6 {
  font-family: 'Cinzel', serif;
}


.textBox p {
  font-family: 'Cinzel', serif;
}

.textField {
    font-size: 2em;
}

.headSpace h2 {
  font-family: 'Cinzel', serif;
}

.bannerTitleStyleButton {
  color: #000000;
  font-size: 2em;
  background-color: #FFF8DC;
  font-family: 'Cinzel', serif;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 10%;
  width: 40%;
  margin-left: 30%;
  margin-right: 30%;
  border:  2px solid;
}
